.post-wrap {
    list-style-type: none;
}

.post-box-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 247, 247);
    height: 100px;
    width: 65vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    
}