@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');


.post-wrap {
    list-style-type: none;
    z-index: 0;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 


}

.post-box-wrap:hover {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.04),
        0 6.7px 5.3px rgba(0, 0, 0, 0.03),
        0 9px 9px rgba(0, 0, 0, 0.02),
        0 10px 10px rgba(0, 0, 0, 0.01);

    transform: scale(1.01);
    border: 1px solid green;
}
.post-box-wrap {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 90vw;
    max-width: 1000px;
    margin: 5px 0px 5px 0px;
    padding: 10px 5px 5px 40px;
    transition: all .2s ease-in-out;

    
    border: 1px solid rgb(233, 230, 230);
    border-radius: 3px;
    -webkit-box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.015),
        0 9px 9px rgba(0, 0, 0, 0.01),
        0 10px 10px rgba(0, 0, 0, 0.005);
    -moz-box-shadow:  
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.015),
        0 9px 9px rgba(0, 0, 0, 0.01),
        0 10px 10px rgba(0, 0, 0, 0.005);
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.015),
        0 9px 9px rgba(0, 0, 0, 0.01),
        0 10px 10px rgba(0, 0, 0, 0.005);
}

.post-title {
    text-overflow: ellipsis; /* Very important to make overflow nicely */
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Taviraj', serif;
    font-weight: 600;
    margin: 0;
    
}

.post-author {
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Faustina', serif;
    font-weight: 200;
    margin-top: 2px;
    color: gray
}

@media only screen and (max-width: 800px) {
    .post-box-wrap {
        padding-left: 20px;
    }

}