
.body-wrap {
  display:flex;
  flex-direction: column;
  background-color: #fcfafa;
}

#post-container-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* To make post list start below sticky navbar */
  margin: 65px 0px 0px 0px;
}