/* 
Made margin and padding 0 so that child elements are easier to work with
Scrollbar is designed here
*/

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
 scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

